{:adapter  :h2
 :target   :memory
 :database "test;MVCC=true"
 :username "sa"
 :password ""
 :create-ddl "CREATE TABLE emp (
    id     INT PRIMARY KEY AUTO_INCREMENT,
    name   VARCHAR(50) NOT NULL,
    salary INT NOT NULL,
    dept   VARCHAR(50),
    j_date DATE
)"
 :drop-ddl "DROP TABLE emp"}
